@using SpatialSearch.Core.Models
@inherits UmbracoViewPage<List<PostcodeResultsModel>>
<div class="results-container">
    <ul class="results-list">
        @foreach(var item in Model){
            <li class="postcode-results">
                <p>@item.Postcode</p>
                <p>Distance: @item.Distance km</p>
            </li>
        }
    </ul>
</div>