@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
@*     <environment include="Development">
        <script type="module" defer src="./@@vite/client"></script> 
        <script type="module" defer src="./scripts/main.js"></script> 
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/assets/style.css"> 
        <script type="module" defer src="~/assets/main.js"></script> 
    </environment> *@

    <!-- This line includes your styles entrypoints -->
    <link rel="stylesheet" vite-href="~/scripts/main.js" />

    <!-- This line includes your "main.ts" and "secondary.ts" entrypoints -->
    <script type="module" vite-src="~/scripts/main.js" asp-append-version="true"></script>

    <title>@Model.Name</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
