@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- This line includes your styles entrypoints -->
    <link rel="stylesheet" vite-href="~/scripts/main.js" />

    <!-- This line includes your "main.ts" and "secondary.ts" entrypoints -->
    <script type="module" vite-src="~/scripts/main.js" asp-append-version="true"></script>

    <title>@Model.Name</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
