@using SpatialSearch.Core.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
	Layout = "_layout.cshtml";
}
<div class="header">
	<img class="header_image" src="@Model.HeaderImage.Url()" />
	<div class="header_text_container">
		<h1>@Model.Header</h1>
		<h2>@Model.SubHeader</h2>
	</div>
</div>
