body {
    font-family: Outfit;
    overflow-x:hidden;
}
.header {
    padding: 10px;
    color: $color-white;
    position: relative;

    &_image {
        width: 100%;
        height: 40vh;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }

    &_text_container {
        position: absolute;
        top: 20%;
        width: 100%;
        text-align: center;
        h1 {
            font-size: 52px;
            font-weight: 200;
        }

        h2 {
            font-size: 24px;
            font-weight: 200;
            margin-left:auto;
            margin-right:auto;
            @include mq($from: $breakpoint-md) {
                max-width: 80%;
            }
        }
    }
}
.error-message-container {
    padding: 10px 100px;

    ul {
        padding: 20px 30px;
        background-color: $error-background;
        color: $error-text;
    }
}
.two-column-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 100px;

    .column {
        h3 {
            font-weight: 400;
        }

        form {
            .input-group {
                input {
                    padding: 10px 15px;
                    font-size: 16px;
                }
            }

            button {
                padding: 5px 10px;
                font-size: 16px;
                margin-top: 15px;
            }
        }
    }
}
.success-message {
    padding: 20px 30px;
    background-color: $success-background;
    color: $success-text;
}
.results-container {
    padding: 10px 100px;

    .results-list {
        .postcode-results {
            padding:5px;
        }
    }
}
.map-container {
    position:relative;
    width:80vw;
    height:400px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    #map {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
    }
}
