<form>
	<div class="input-group">
		<input id="postcodeField" class="input-field" placeholder="Postcode"/>
	</div>
	<button id="AddPostcodeSubmit" class="btn" type="submit" name="Submit" value="Submit">Submit</button>
</form>

<p id="addPostcodeMessage" class="add-postcode-success-message"></p>