<form>
	<div class="input-group">
		<input id="numberOfPostcodes" class="input-field" placeholder="Number of Postcodes"/>
	</div>
	<button id="AddRandomPostcodeSubmit" class="btn" type="submit" name="Submit" value="Submit">Submit</button>
</form>

<p id="addRandomPostcodeMessage" class="add-random-postcode-success-message"></p>