<form>
	<div class="input-group">
		<input id="postcodeSearchField" class="input-field" placeholder="Postcode"/>
		<input id="distanceSearchField" class="input-field" placeholder="Distance (km)" value=""/>
	</div>
	<button id="searchSubmit" class="btn" type="submit" name="Submit" value="Submit">Submit</button>
</form>